<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
        <title>Index</title>
        <link href="ratchet/css/ratchet.min.css" rel="stylesheet">
        <link href="axemas/axemas.css" rel="stylesheet">
    </head>
    <body>

        <div class="container">
            <ul class="table-view">
                <li class="table-view-cell media">
                    <a id="section-link">
                        <span class="media-object pull-left icon icon-plus"></span>
                        <div class="media-body">
                            Push section
                            <p>
                                This controller simply pushes a new section on top of the navigation stack.
                            </p>
                        </div>
                    </a>
                </li>
                <li class="table-view-cell media">
                    <a id="js-call-native-link">
                        <span class="media-object pull-left icon icon-download"></span>
                        <div class="media-body">
                            JS call Native
                            <p>
                                This is the simplest way to open the application's sidebar from JavaScript.
                            </p>
                        </div>
                    </a>
                </li>
                <li class="table-view-cell">
                    <a id="native-call-js-link">
                        <span class="media-object pull-left icon icon-share"></span>
                        <div class="media-body">
                            Native call JS
                            <p>
                                Get your device's name from he
                                This event chain will trigger a native method that after is done
                                processing will pass the result to the JavaScript part and it will
                                be displayed inside a dialog.
                            </p>
                        </div>
                    </a>
                </li>
                <li class="table-view-cell">
                    <a id="native-section-link">
                        <span class="media-object pull-left icon icon-home"></span>
                        <div class="media-body">
                            Push native Section
                            <p>
                                Create a new native section and push it on top of the navigation stack.
                            </p>
                        </div>
                    </a>
                </li>
                <li class="table-view-cell">
                    <a>
                        <span class="media-object pull-left icon icon-more"></span>
                        <div class="media-body">
                            Padding item
                            <p>
                                This item has no action bound to it and is here just for padding to enable scrolling on all devices.
                            </p>
                        </div>
                    </a>
                </li>
                <li class="table-view-cell">
                    <a>
                        <span class="media-object pull-left icon icon-more"></span>
                        <div class="media-body">
                            Padding item
                            <p>
                                This item has no action bound to it and is here just for padding to enable scrolling on all devices.
                            </p>
                        </div>
                    </a>
                </li>
                <li class="table-view-cell">
                    <a>
                        <span class="media-object pull-left icon icon-more"></span>
                        <div class="media-body">
                            Padding item
                            <p>
                                This item has no action bound to it and is here just for padding to enable scrolling on all devices.
                            </p>
                        </div>
                    </a>
                </li>
                <li class="table-view-cell">
                    <a>
                        <span class="media-object pull-left icon icon-more"></span>
                        <div class="media-body">
                            Padding item
                            <p>
                                This item has no action bound to it and is here just for padding to enable scrolling on all devices.
                            </p>
                        </div>
                    </a>
                </li>
                <li class="table-view-cell">
                    <a id="scroll-top-link">
                        <span class="media-object pull-left icon icon-up"></span>
                        <div class="media-body">
                            Scroll back up
                            <p>
                                Trigger a JavaScript event that will scroll the top of the page.
                            </p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>


        <script src="js/jquery-2.1.0.min.js"></script>
        <script src="axemas/gestures.js"></script>
        <script src="axemas/axemas.js"></script>
        <script src="js/index.js"></script>
    </body>
</html>