<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
        <title>Section</title>
        <link href="ratchet/css/ratchet.min.css" rel="stylesheet">
        <link href="axemas/axemas.css" rel="stylesheet">
    </head>
    <body>

        <div class="container">
            <center><h3><br>This is an example html page<br></h3></center>
            <form>
                <input type="text" placeholder="Full name">
                <input type="search" placeholder="Search">
                <textarea rows="5"></textarea>
                <button class="btn btn-positive btn-block">Choose existing</button>
            </form>
        </div>


        <script src="js/jquery-2.1.0.min.js"></script>
        <script src="axemas/gestures.js"></script>
        <script src="axemas/axemas.js"></script>
        <script src="js/section.js"></script>
    </body>
</html>