* {
    box-sizing: border-box;
}

*:not(input):not(textarea) {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

html, body, .axemas-content {
    height: 100%;
    margin: 0;
    padding: 0;
    position: static;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
}

.axemas-scroll {
    height: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
}
